<a href="/productos">Lista de productos</a>
<br>

<div>
  <h1>Cargar de Producto</h1>
  <form action="/productos" method="POST">
    <div>
      <span>Nombre: </span>
      <input type="text"  name="title">
    </div>
    <div>
      <span>Precio: </span>
      <input type="number" name="price">
    </div>
    <div>
      <span class="input-group-text">Imagen(URL): </span>
      <input type="text"  name="img">
    </div>
    <button type="submit"> Enviar </button>
  </form>